<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">전체</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">연극</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">뮤지컬</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">음악</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">무용</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">서커스/마술</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">기타</a>
    </li>
</ul>