/* 전체 페이지에 대한 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background: #27374D;
    padding: 15px 40px;
    height: 100px;
}

#logo-image {
    width: 160px;
    height: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 150px;
    margin-left: 150px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.nav a:hover {
    background-color: white;
    color: #27374D;
}


.signin {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    margin-left: auto;
}

#signin-image {
    margin-left: 3px;
    display: flex;
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(269deg) brightness(103%) contrast(101%);
}

#signin-text {
    text-decoration: none;
    color: white;
}

/* Content */
.content {
    min-height: 400px;
}

/* main */
.main {
    display: flex;
    width: 100%;
    height: 1000px;
}

.main>h3 {
    color: black;
    justify-content: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background: #27374D;
    padding: 30px 40px;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 60%;
}

.footer-left .logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 13px;
    line-height: 1.6;
    margin-top: 5px;
}

.footer-right {
    display: flex;
    /* flex-direction: ; */
    align-items: flex-start;
    margin-top: 30px;
}

.footer-right ul {
    list-style: none;
    margin-bottom: 10px;
}

.footer-right li {
    margin-bottom: 6px;
}

.footer-right a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.sns a {
    margin-right: 10px;
    font-size: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(269deg) brightness(103%) contrast(101%);


}

.sns a img {
    width: 30px;
}