.login-container {

    box-sizing: border-box;

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;


    border: 1px solid pink;
    
}



.login-area {

    width: 100%;
    height: 1500px;

    border: 1px solid black;

    

}


.logo-area {

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 25%;
    margin-bottom: 5%;

}

.logo-img{

    display: flex;

    flex-direction: row;
    align-items: center;

    flex-direction: column;

    width: 288px;
    

}

.input-id{

    width: 465px;
    height: 54px;
    display: flex;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid gainsboro;

}

.id-section {

    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;

}

.input-pw{

    width: 465px;
    height: 54px;
    display: flex;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid gainsboro;

}

.pw-section {

    display: flex;
    justify-content: center;
    position: relative;

}

.checkbox-area {

    display: flex;

    justify-content: center;

    position: relative;

    align-items: center;

    align-content: center;

    margin-right: 347px;

    margin-top: 15px;

    
    
}





#login-Btn{

    display: flex;
    justify-content: center;
    cursor: pointer;

    align-items: center;
    

    margin-top: 50px;
    width: 465px;
    height: 54px;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid gainsboro;

    border-color: gainsboro;

    color: gainsboro;

    background-color: white;

    

}

.login-btn-area {


    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    

    
}



#signUp-btn {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    width: 114px;
    height: 35px;
    border-radius: 10px;
    color: gainsboro;

    border: 1px solid gainsboro;
    background-color: white;

    font-size: 24px;

    cursor: pointer;

}


.signUp-btn-area{

    display: flex;
    justify-content: center;
    position: relative;
}
