<header th:fragment="header" class="header">
    <section>
      <a th:href="@{/}">
        <img th:src="@{/images/common/moa_logo.png}" alt="이미지 준비중" id="logo-image" />
      </a>
    </section>
  
    <nav class="nav">
      <ul>
        <!-- 공연 -->
        <li class="menu-item">
          <a href="#">공연</a>
          <div class="submenu">
            <div class="submenu-left">
              <h2>공연</h2>
              <span>performance</span>
            </div>
            <div class="submenu-right">
              <ul>
                <li><a href="#">전체 공연목록 조회</a></li>
                <li><a href="#">통합 검색</a></li>
                <li><a href="#">지도 검색</a></li>
              </ul>
            </div>
          </div>
        </li>
  
        <!-- 전시 -->
        <li class="menu-item">
          <a href="#">전시</a>
          <div class="submenu">
            <div class="submenu-left">
              <h2>전시</h2>
              <span>exhibition</span>
            </div>
            <div class="submenu-right">
              <ul>
                <li><a href="/board/exhibition/jsonExhibitionList">전체 전시목록 조회</a></li>
                <li><a href="#">전시 일정</a></li>
                <li><a href="#">전시 지도 검색</a></li>
              </ul>
            </div>
          </div>
        </li>
  
        <!-- 커뮤니티 -->
        <li class="menu-item">
          <a href="#">커뮤니티</a>
          <div class="submenu">
            <div class="submenu-left">
              <h2>커뮤니티</h2>
              <span>community</span>
            </div>
            <div class="submenu-right">
              <ul>
                <li><a href="#">자유게시판</a></li>
                <li><a th:href="@{/review/list}">리뷰게시판</a></li>
                <li><a href="#">만남의 광장</a></li>
              </ul>
            </div>
          </div>
        </li>
  
        <!-- 고객센터 -->
        <li class="menu-item">
          <a href="#">고객센터</a>
          <div class="submenu">
            <div class="submenu-left">
              <h2>고객센터</h2>
              <span>support</span>
            </div>
            <div class="submenu-right">
              <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">문의하기</a></li>
                <li><a href="#">이용안내</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  
    <div class="signin">
      <a th:href="@{/login}">
        <img th:src="@{/images/common/user.svg}" alt="이미지 준비중" id="signin-image" />
        <span id="signin-text" th:text="${name} ?: 'sign in'"></span>
      </a>
    </div>
  </header>