<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 상세</title>

    <!-- 외부 CSS 연결 -->
    <link rel="stylesheet" href="../css/freeboardDetail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <section class="board-detail">
        <!-- 카테고리 -->
        <h1>자유게시판</h1>

        <!-- 제목 + 작성자/작성일/조회수 + 좋아요 -->
        <div class="board-header">
          <!-- 왼쪽 (제목) -->
          <div class="left-area">
            <h3 class="board-title">고전 미술 작품 속에서 느낀 시간 여행</h3>
          </div>

          <!-- 오른쪽 (닉네임, 작성일, 조회수, 좋아요) -->
          <div class="right-area">
            <div class="board-info">
              <p><span>닉네임</span> joomong</p>
              <p><span>작성일</span> 2025-09-29</p>
              <p><span>조회수</span> 2789</p>
            </div>
            <div class="like-area">
              <i class="fa-regular fa-heart" id="boardLike"></i>
              <span>10</span>
            </div>
          </div>
        </div>

        <!-- 본문 -->
        <div class="board-content">
          몇 달 전부터 기다리던 뮤지컬을 드디어 현장에서 직접 보고 왔습니다.
          TV로 보던 것과는 전혀 다른 생생한 감동이 느껴졌고, 배우들의 열정적인
          무대를 보며 오랜만에 심금을 울리는 시간이었습니다.
        </div>

        <!-- 버튼 영역-->
        <div class="board-btn-area">
          <button id="updateBtn">수정</button>
          <button id="deleteBtn">삭제</button>
          <button id="goToListBtn">목록으로</button>
        </div>
      </section>
    </main>
  </body>
</html>
