.view-mode {
    cursor: pointer;
    font-size: 20px;
}

.view-mode i {
    transition: opacity 0.2s;
}

.nav-pills{
    border: 1px solid black;
    width: max-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

}

.nav-item{
    border: 1px solid black;
    cursor: pointer;
}

